<%- include('parts/html-head.ejs') %>
    <div class="container">
        <%- include('parts/navbar.ejs') %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Id</th>
                </tr>
            </thead>
            <tbody>
                <%  let i =1;
                for (let item of sales){ 
                    
                    %>
                <tr>
                    <th scope="row"><%= i %> </th>
                    <td><%= item.name %> </td>
                    <td><%= item.age %> </td>
                    <td><%= item.id %> </td>
                </tr>
                <% i++;}%>
                <tr>
            </tbody>
        </table>
    </div>
<%- include('parts/scripts.ejs') %>
<%- include('parts/html-foot.ejs') %>