<%- include('../parts/html-head.ejs') %>
<%- include('../parts/navbar.ejs') %>
<style>
    .table a>.fa-trash
    {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item <%= page<=1 ? 'disabled' : '' %>"><a class="page-link"  href="/address-book/list/<%=page-1%>"><i class="fas fa-angle-double-left"></i></a></li>
                    <% for (i=1; i<=totalPages;i++){ %>
                    <li class="page-item <%= page == i ? 'active' : ''%>">
                        <a class="page-link" href="/address-book/list/<%=i%>"><%=i%>
                        </a>
                    </li>
                    <%}%>
                    <li class="page-item <%= page>=totalPages ? 'disabled' : '' %>"><a class="page-link"  href="/address-book/list/<%=page+1%>"><i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Sid</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Address</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i of rows){ %>
                    <tr data-sid="<%= i.sid %>">
                        <th scope="row"><%= i.sid %> </th>
                        <td><%= i.name %> </td>
                        <td><%= i.email %> </td>
                        <td><%= i.mobile %> </td>
                        <td><%= i.birthday %> </td>
                        <td><%= i.address %> </td>
                    </tr>
                    <%}%>
                        <tr>
                    </tbody>
                </table>
        </div>
    </div>
    
    </div>
<%- include('../parts/scripts.ejs') %>
<script>
    const delLinks = $('.del-link');
    delLinks.click((eve)=>{
        const tr =  $(eve.target.closest('tr')); // 注意 要包成jQuery物件
        const sid = tr.attr('data-sid');
        if(!confirm(`確定要刪除編號為 ${sid} 的資料?`)){
            eve.preventDefault();
        }
        
    });
</script>
<%- include('../parts/html-foot.ejs') %>